@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply p-0 m-0 box-border outline-none scroll-smooth  font-Jost text-[1.125rem] text-secondary-600 leading-none
}


html{
    @apply bg-secondary-100 
}
@layer base {
    a,button, img,h4{
        @apply select-none
    }
}

.no_click{
    @apply select-none
}

.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {

    @apply bg-secondary-50
  
}

body::-webkit-scrollbar-thumb {
    @apply bg-secondary-400

}